h1:hover{
    color: green;
    font-size: 18px;
    background-color: yellow;
    width: 300px;
}
h2:hover{
    color: green;
    font-size: 18px;
    background-color: yellow;
     width: 300px;
}
h3:hover{
    color: green;
    font-size: 18px;
    background-color: yellow;
     width: 300px;
}
h4:hover{
    color: green;
    font-size: 18px;
    background-color: yellow;
     width: 300px;
}